transformers>=4.44
torch
sentencepiece
PyMuPDF
python-docx
python-pptx
beautifulsoup4
lxml
streamlit
gTTS
deep-translator
Flask
Flask-Cors
datasets
rouge-score
nltk
pyarrow
google-genai
python-dotenv
